<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 Error</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/css/error404.css" />
  </head>
  <body class="m-0 p-0 box-border list-none">
    <div class="content text-center">
      <h1 class="text-5xl my-8">There's some issues</h1>
      <div class="mt-5">
        <p class="text-3xl tablet:text-xl">Hope you understand our pain as a developer.</p>
        <p class="text-3xl">Thankyou visit again</p>
      </div>

      <div class="numbers flex flex-row justify-center items-center text-9xl mt-4 h-32">
        <div class="yellow-number">4</div>
        <div class="orange-number">0</div>
        <div class="purple-number">4</div>
      </div>
    </div>
  </body>
</html>
